body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* arka plan rengi */
}

header {
    background-color: #ffd700; /* altın rengi */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

.project {
    background-color: #fff; /* beyaz */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* hafif bir gölge efekti */
    margin-bottom: 20px;
}

footer {
    background-color: #ffd700; /* altın rengi */
    color: #333;
    padding: 10px 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
